body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/background2.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.form {
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background: rgba(49, 71, 82, 0.9);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.form input {
  font-family: 'Roboto', sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form input[type='button'] {
  text-transform: uppercase;
  outline: 0;
  background: #4caf50;
  border: 0;
  padding: 15px;
  width: 100%;
  color: #ffffff;
  cursor: pointer;
}

.form .message {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin: 15px 0 0;
  color: #dedfdf;
  text-align: left;
}

.form .message a {
  color: #41caca;
  text-decoration: none;
}

.form input[type='button']:hover,
.form input[type='button']:active {
  background: #337a37;
}

.form .register-form {
  /* display: none;
  overflow: hidden; */
}
