<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/home.css" />
    <title>RequestiFun</title>
  </head>
  <body>
    <header>
      <div class="row">
        <div class="main-nav">
          <li class="active"><a href=""> INÍCIO </a></li>
          <li><a href=""> OBJETOS </a></li>
          <li><a href=""> RANKINGS </a></li>
        </div>
      </div>
    </header>
  </body>
</html>
