<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/index.css" />
    <title>RequestiFun</title>
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <!-- Formulário para efetuar login -->
        <form class="login-form">
          <input type="text" id="" placeholder="Utilizador" />
          <input type="password" id="" placeholder="Password" />

          <input type="button" value="Entrar" />
          <p class="message">
            Ainda não estás registado? <a href="#">Registar</a>
          </p>
        </form>

        <!-- Formulário para efetuar o registo -->
        <form class="register-form">
          <input type="text" id="" placeholder="Utilizador" />
          <input type="email" id="" placeholder="Email" />
          <input type="password" id="" placeholder="Password" />
          <input type="password" id="" placeholder="Confirmar Password" />
          <input type="button" value="Registar" />
          <p class="message">Já tens conta? <a href="#">Entrar</a></p>
        </form>
      </div>
    </div>

    <script src="../javascript/animation.js"></script>
  </body>
</html>
